<!-- ----------------------- -->
<div class="wrap">
  <div id="chatWindow" class="container overflow-auto">
    <div class="bubble left">
      <p>heyo</p>
    </div>
    <div *ngFor="let response of responseArr">
      <div class="bubble right">
        <p>{{ response.results.nlp.source }}</p>
      </div>
      <div class="bubble left" *ngIf="check">
        <p>{{ response.results.messages[0].content }}</p>
      </div>
    </div>
  </div>
  <div id="inputWindow" class="form">
    <input id="inp" type="text" [(ngModel)]="question" name="" />
    <input id="btn" type="button" (click)="askQuestion()" value="Send" />
  </div>
</div>

<!-- <p>
  recast works!
</p> -->
